{% extends "base.html" %}

<html>

<head>
    {% block title %}
        <title>The Game</title>
    {% endblock title%}
</head>

<body>
    {% block box_content %}
        <h1>Guessing game</h1>
        <br>
        <p class="fst-italic">Try to guess the number between 1 and 30.</p>

        <form method="post" action="/">
            <input type=text name="player_number" placeholder="Enter your number">
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    {% endblock box_content %}
</body>



</html>